* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid grey;
  padding-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .mNav {
  display: none;
  background-image: url(../img/hamburger.png);
  width: 8%;
  height: 8vh;
  margin-right: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
header .logo {
  height: 100%;
  display: flex;
  width: 15%;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 2%;
}
header .logo img {
  width: auto;
  height: 85%;
}
header .logo span {
  margin-bottom: 2%;
  margin-left: 10%;
}
header .searchBar {
  margin-top: 2%;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
header .searchBar img {
  position: absolute;
  width: auto;
  height: 35%;
  left: 2%;
}
header .searchBar input {
  width: 100%;
  height: 50%;
  border: none;
  background-color: rgba(88, 124, 131, 0.6);
}
header nav {
  margin-top: 2%;
  margin-right: 2%;
  display: flex;
  align-items: flex-end;
  gap: 5em;
}
header nav a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1125px) {
  header .logo {
    width: 5%;
  }
  header nav {
    display: none;
  }
  header nav a {
    display: none;
  }
  header .mNav {
    display: block;
  }
  header .searchBar {
    width: 50%;
  }
}
@media screen and (max-width: 495px) {
  header .searchBar {
    display: none;
  }
}
footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 92px;
  background-color: #587C83;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
}
footer .text {
  margin-left: 104px;
  margin-top: 20px;
}
footer .links {
  width: 284px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .links a {
  color: #fff;
  text-decoration: none;
}
footer .icon {
  margin-right: 104px;
  width: 215px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .icon .icon1 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/facebook_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
footer .icon .icon2 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/instagram_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
footer .icon .icon3 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/twitter_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer .text {
    font-size: 11px;
    margin-left: 40px;
  }
  footer .links {
    font-size: 11px;
    width: 269px;
  }
  footer .icon {
    width: 102px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 40px;
  }
  footer .icon .icon1 {
    width: 25px;
    height: 25px;
  }
  footer .icon .icon2 {
    width: 25px;
    height: 25px;
  }
  footer .icon .icon3 {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 390px) {
  footer {
    height: 57px;
  }
  footer .text {
    font-size: 6px;
    margin-left: 17px;
  }
  footer .links {
    font-size: 6px;
    width: 117px;
  }
  footer .icon {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 17px;
  }
  footer .icon .icon1 {
    width: 14px;
    height: 14px;
  }
  footer .icon .icon2 {
    width: 14px;
    height: 14px;
  }
  footer .icon .icon3 {
    width: 14px;
    height: 14px;
  }
}
.acco {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  margin-bottom: 191px;
}
.acco .login-sign {
  display: flex;
  flex-direction: column;
  width: 233px;
  height: 300px;
  margin-bottom: 25px;
}
.acco .login-sign p {
  font-size: 16px;
}
.acco .login-sign h2 {
  font-size: 26px;
  text-align: left;
}
.acco .login-sign input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 233px;
  margin-top: 50px;
  font-size: 16px;
}
.acco .login-sign .log {
  display: flex;
  align-items: center;
  justify-content: center;
}
.acco .login-sign .log p {
  font-size: 16px;
}
.acco .login-sign .log input {
  width: 170px;
  height: 45px;
  border: none;
  background-color: #587C83;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .acco {
    flex-direction: column;
    margin-top: 175px;
    margin-bottom: 324px;
  }
  .acco .login-sign {
    margin-bottom: 20px;
  }
}
.blog {
  width: 75%;
  margin: 6% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}
.blog .blogPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45vh;
  background-color: #587c83;
}
.blog .blogPost .books {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
}
.blog .blogPost .books .cover {
  height: 35vh;
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.blog .blogPost .books .one {
  background-image: url(../img/becoming.jpg);
}
.blog .blogPost .books .two {
  background-image: url(../img/finding\ me.jpg);
}
.blog .blogPost .three {
  background-image: url(../img/open-book-blog.jpg);
}
.blog .blogPost .four {
  background-image: url(../img/ereading-blog.jpg);
}
.blog .blogPost .photo {
  width: 45%;
  height: 100%;
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .blogPost .large {
  width: 50%;
}
.blog .blogPost .info {
  width: 40%;
  text-align: center;
  margin-right: 5%;
  color: #fff;
}
.blog .blogPost .info h1 {
  text-transform: uppercase;
}
.blog .blogPost .info button {
  padding: 4% 8%;
  background-color: transparent;
  border: solid 1px #fff;
  text-transform: uppercase;
}
.blog .blogPost .info button a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 555px) {
  .blog .blogPost {
    flex-direction: column;
    height: 100%;
  }
  .blog .blogPost .photo {
    width: 100%;
    height: 40vh;
  }
  .blog .blogPost .info {
    width: 90%;
    margin: 5% auto;
  }
  .blog .blogPost .books {
    width: 90%;
  }
}
.bookc {
  margin-left: 228px;
}
.bookc .hero {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/book-club-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.bookc .hero .callout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.bookc .hero .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.bookc .hero .callout p {
  font-size: 26px;
}
.bookc .bookclub {
  width: 1559px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 578px;
}
.bookc .bookclub .img {
  width: 622px;
  height: 463px;
  background-color: blue;
  background-image: url("../img/open-book-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookc .bookclub .info {
  width: 898px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout p {
    font-size: 11px;
  }
  .bookclub {
    width: 565px;
  }
  .bookclub .img {
    width: 260px;
    height: 205px;
  }
  .bookclub .info {
    width: 261px;
  }
  .bookclub .info p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 307px;
    height: 121px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .bookclub {
    width: 286px;
  }
  .bookclub .img {
    width: 114px;
    height: 95px;
  }
  .bookclub .info {
    width: 158px;
  }
  .bookclub .info p {
    font-size: 6px;
  }
}
.bookc {
  margin-left: 228px;
}
.bookc .hero2 {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/eread-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.bookc .hero2 .callout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.bookc .hero2 .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.bookc .hero2 .callout p {
  font-size: 26px;
}
.bookc .ereading {
  width: 1559px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 578px;
}
.bookc .ereading .img2 {
  width: 622px;
  height: 463px;
  background-color: blue;
  background-image: url("../img/ereading-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookc .ereading .info {
  width: 898px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout p {
    font-size: 11px;
  }
  .bookclub {
    width: 565px;
  }
  .bookclub .img {
    width: 260px;
    height: 205px;
  }
  .bookclub .info {
    width: 261px;
  }
  .bookclub .info p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 307px;
    height: 121px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .bookclub {
    width: 286px;
  }
  .bookclub .img {
    width: 114px;
    height: 95px;
  }
  .bookclub .info {
    width: 158px;
  }
  .bookclub .info p {
    font-size: 6px;
  }
}
.feb {
  margin-left: 228px;
}
.feb .hero {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/february-favorites-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.feb .hero .callout {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.feb .hero .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.feb .hero .callout h2 {
  font-size: 26px;
}
.feb .hero .callout p {
  font-size: 16px;
}
.feb .books {
  width: 1582px;
  margin-bottom: 252px;
}
.feb .books .bookuno {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 140px;
}
.feb .books .bookuno .b1 {
  width: 250px;
  height: 380px;
  background-color: blue;
  background-image: url("../img/becoming.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feb .books .bookuno .b2 {
  width: 250px;
  height: 380px;
  background-color: blue;
  background-image: url("../img/finding me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feb .books .bookuno .inf {
  width: 1297px;
}
.feb .books .bookuno .inf h1 {
  font-size: 26px;
}
.feb .books .bookuno .inf p {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout h2 {
    font-size: 11px;
  }
  .hero .callout p {
    font-size: 8px;
  }
  .books {
    width: 602px;
  }
  .books .bookuno .b1 {
    width: 99px;
    height: 150px;
  }
  .books .bookuno .b2 {
    width: 99px;
    height: 150px;
  }
  .books .bookuno .inf {
    width: 473px;
  }
  .books .bookuno .inf h1 {
    font-size: 12px;
  }
  .books .bookuno .inf p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 310px;
    height: 119px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout h2 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .books {
    width: 288px;
  }
  .books .bookuno .b1 {
    width: 50px;
    height: 76px;
  }
  .books .bookuno .b2 {
    width: 50px;
    height: 76px;
  }
  .books .bookuno .inf {
    width: 221px;
  }
  .books .bookuno .inf h1 {
    font-size: 6px;
  }
  .books .bookuno .inf p {
    font-size: 6px;
  }
}
.cart {
  margin-left: 135px;
}
.cart .item {
  display: flex;
  margin-bottom: 105px;
  margin-top: 152px;
}
.cart .item .bookc1 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/misery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}
.cart .item .bookc2 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/mlk-biography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart .item .infor h3 {
  font-size: 16px;
}
.cart .item .infor p {
  font-size: 16px;
}
.cart .item .infor .tex {
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .item .infor .tex .decor {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.cart .line {
  border-bottom: 1px solid #000;
  margin-left: -135px;
}
.cart .line2 {
  border-bottom: 1px solid #000;
  margin-bottom: 778px;
  margin-left: -135px;
}
.cart .ite2 {
  display: flex;
  margin-top: 105px;
  margin-bottom: 134px;
}
.cart .ite2 .bookc2 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/mlk-biography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}
.cart .ite2 .infor h3 {
  font-size: 16px;
}
.cart .ite2 .infor p {
  font-size: 16px;
}
.cart .ite2 .infor .tex {
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .ite2 .infor .tex .decor {
  width: 113px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cart {
    margin-left: 66px;
    width: 100%;
  }
  .cart .ite2 p {
    font-size: 12px;
  }
  .cart .ite2 h3 {
    font-size: 12px;
  }
  .cart .ite2 .bookc2 {
    width: 69px;
    height: 106px;
  }
  .cart .item .bookc1 {
    width: 69px;
    height: 106px;
  }
  .cart .item p {
    font-size: 12px;
  }
  .cart .item h3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .cart {
    width: 100%;
    margin-left: 21px;
  }
  .cart .ite2 .infor p {
    font-size: 6px;
  }
  .cart .ite2 .infor h3 {
    font-size: 6px;
  }
  .cart .ite2 .bookc2 {
    width: 48px;
    height: 74px;
  }
  .cart .item .bookc1 {
    width: 48px;
    height: 74px;
  }
  .cart .item .infor p {
    font-size: 6px;
  }
  .cart .item .infor h3 {
    font-size: 6px;
  }
}
.home {
  margin: 8% auto;
  width: 90%;
}
.home .homeHero {
  width: 85%;
  height: 50vh;
  background-color: red;
  margin: 0 auto;
  position: relative;
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../img/home-hero.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.home .homeHero .quote {
  position: absolute;
  right: 15%;
  top: 45%;
  text-transform: uppercase;
  color: #fff;
}
.home .homeHero .quote h1 {
  margin-top: -15%;
}
.home .homeHero .quote span {
  margin-top: 5%;
}
.home .featured {
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .featured .featureBook {
  width: 20%;
  text-align: center;
}
.home .featured .featureBook .cover {
  width: 90%;
  height: 45vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .featured .featureBook p {
  font-size: 0.75rem;
  margin-top: 12%;
  margin-bottom: 15%;
}
.home .featured .featureBook h3 {
  font-size: 1.3em;
}
.home .featured .featureBook button {
  padding: 7% 16%;
  background-color: #fff;
  border: solid 1px #000;
  text-transform: uppercase;
}
.home .featured .one {
  background-image: url(../img/to-kill-a-mockingbird.jpg);
}
.home .featured .two {
  background-image: url(../img/becoming.jpg);
}
.home .featured .three {
  background-image: url(../img/firestarter.jpg);
}

@media screen and (max-width: 1125px) {
  .home .featured {
    flex-direction: column;
  }
  .home .featured .featureBook {
    width: 80%;
    margin-bottom: 10%;
  }
  .home .featured .featureBook .cover {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.about {
  width: 80%;
  margin: 8% auto;
}
.about .aboutContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 15%;
}
.about .aboutContainer .photo {
  width: 25%;
  height: 55vh;
  background-color: red;
  border: 0.5px solid #000;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}
.about .aboutContainer .one {
  background-image: url(../img/about-photo.jpg);
}
.about .aboutContainer .two {
  background-image: url(../img/about-photo-two.jpg);
}
.about .aboutContainer .info {
  text-align: center;
  width: 75%;
  padding-left: 5%;
  margin-top: -2%;
}
.about .aboutContainer .info h2 {
  text-transform: uppercase;
  margin-bottom: 5%;
}
.about .aboutContainer .info h3 {
  margin-bottom: 5%;
}
.about .aboutContainer .info p {
  text-align: left;
}

@media screen and (max-width: 1125px) {
  .about .aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about .aboutContainer .photo {
    width: 100%;
    height: 40vh;
  }
  .about .aboutContainer .info {
    text-align: center;
    margin: 0;
  }
}
.books {
  width: 95%;
  margin: 0 auto;
}
.books section {
  margin: 10% 0;
}
.books section h2 {
  text-transform: uppercase;
}
.books section .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books section .row .item {
  height: 10%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books section .row .item .photo {
  width: 100%;
  height: 30vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.books section .row .item .info {
  padding-left: 5%;
  width: 100%;
}
.books section .row .item .info .desc {
  font-size: 0.9em;
}
.books section .row .item .info h3 {
  font-size: 0.9em;
}
.books section .row .item .info button {
  padding: 7% 16%;
  background-color: #fff;
  border: solid 1px #000;
  text-transform: uppercase;
}
.books section .row .item .one {
  background-image: url(../img/twilight-box-set.jpg);
}
.books section .row .item .two {
  background-image: url(../img/hp-box-set.jpg);
}
.books section .row .item .three {
  background-image: url(../img/got-box-set.jpg);
}
.books section .row .item .four {
  background-image: url(../img/finding\ me.jpg);
}
.books section .row .item .five {
  background-image: url(../img/mlk-biography.jpg);
}
.books section .row .item .six {
  background-image: url(../img/elenor-roosevelt-biography.jpg);
}
.books section .row .item .seven {
  background-image: url(../img/misery.jpg);
}
.books section .row .item .eight {
  background-image: url(../img/frankenstein.jpg);
}
.books section .row .item .nine {
  background-image: url(../img/phantoms.jpg);
}
.books section .row .item .ten {
  background-image: url(../img/winnie\ the\ pooh.jpg);
}
.books section .row .item .eleven {
  background-image: url(../img/cat\ and\ the\ hat.jpg);
}
.books section .row .item .twelve {
  background-image: url(../img/fun\ facts\ about\ space.jpg);
}

@media screen and (max-width: 1125px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .books section .row .item {
    width: 100%;
    margin: 5% 0;
  }
}

/*# sourceMappingURL=styles.css.map */
