* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid grey;
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 2%;
}
header .logo img {
  width: auto;
  height: 85%;
}
header .logo span {
  margin-bottom: 2%;
  margin-left: 10%;
}
header .searchBar {
  margin-top: 2%;
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
}
header .searchBar img {
  position: absolute;
  width: auto;
  height: 35%;
  left: 2%;
}
header .searchBar input {
  width: 100%;
  height: 50%;
  border: none;
  background-color: #587c83;
}
header nav {
  margin-top: 2%;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5em;
}
header nav a {
  text-decoration: none;
  color: #000;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 92px;
  background-color: #587C83;
  color: #fff;
  margin: 0 auto;
  font-size: 16px;
}
footer .text {
  margin-left: 104px;
  margin-top: 20px;
}
footer .links {
  width: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .links a {
  color: #fff;
  text-decoration: none;
}
footer .icon {
  margin-right: 104px;
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .icon .icon1 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/facebook_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
footer .icon .icon2 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/instagram_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
footer .icon .icon3 {
  width: 44px;
  height: 44px;
  background-image: url("../img/logos/white/twitter_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer .text {
    font-size: 11px;
    margin-left: 40px;
  }
  footer .links {
    font-size: 11px;
    width: 269px;
  }
  footer .icon {
    width: 102px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 40px;
  }
  footer .icon .icon1 {
    width: 25px;
    height: 25px;
  }
  footer .icon .icon2 {
    width: 25px;
    height: 25px;
  }
  footer .icon .icon3 {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 390px) {
  footer {
    height: 57px;
  }
  footer .text {
    font-size: 6px;
    margin-left: 17px;
  }
  footer .links {
    font-size: 6px;
    width: 117px;
  }
  footer .icon {
    width: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-right: 17px;
  }
  footer .icon .icon1 {
    width: 14px;
    height: 14px;
  }
  footer .icon .icon2 {
    width: 14px;
    height: 14px;
  }
  footer .icon .icon3 {
    width: 14px;
    height: 14px;
  }
}
.acco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  margin-bottom: 191px;
}
.acco .login-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 233px;
  height: 300px;
  margin-bottom: 25px;
}
.acco .login-sign p {
  font-size: 16px;
}
.acco .login-sign h2 {
  font-size: 26px;
  text-align: left;
}
.acco .login-sign input {
  border: none;
  border-bottom: 1px solid #000000;
  width: 233px;
  margin-top: 50px;
  font-size: 16px;
}
.acco .login-sign .log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.acco .login-sign .log p {
  font-size: 16px;
}
.acco .login-sign .log input {
  width: 170px;
  height: 45px;
  border: none;
  background-color: #587C83;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .acco {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 175px;
    margin-bottom: 324px;
  }
  .acco .login-sign {
    margin-bottom: 20px;
  }
}
.bookc {
  margin-left: 228px;
}
.bookc .hero {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(88, 124, 131)), to(rgba(88, 124, 131, 0.3547794118))), url("../img/book-club-hero.jpg");
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/book-club-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.bookc .hero .callout {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}
.bookc .hero .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.bookc .hero .callout p {
  font-size: 26px;
}
.bookc .bookclub {
  width: 1559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 578px;
}
.bookc .bookclub .img {
  width: 622px;
  height: 463px;
  background-color: blue;
  background-image: url("../img/open-book-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookc .bookclub .info {
  width: 898px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout p {
    font-size: 11px;
  }
  .bookclub {
    width: 565px;
  }
  .bookclub .img {
    width: 260px;
    height: 205px;
  }
  .bookclub .info {
    width: 261px;
  }
  .bookclub .info p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 307px;
    height: 121px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .bookclub {
    width: 286px;
  }
  .bookclub .img {
    width: 114px;
    height: 95px;
  }
  .bookclub .info {
    width: 158px;
  }
  .bookclub .info p {
    font-size: 6px;
  }
}
.bookc {
  margin-left: 228px;
}
.bookc .hero2 {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(88, 124, 131)), to(rgba(88, 124, 131, 0.3547794118))), url("../img/eread-hero.jpg");
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/eread-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.bookc .hero2 .callout {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}
.bookc .hero2 .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.bookc .hero2 .callout p {
  font-size: 26px;
}
.bookc .ereading {
  width: 1559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 578px;
}
.bookc .ereading .img2 {
  width: 622px;
  height: 463px;
  background-color: blue;
  background-image: url("../img/ereading-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookc .ereading .info {
  width: 898px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout p {
    font-size: 11px;
  }
  .bookclub {
    width: 565px;
  }
  .bookclub .img {
    width: 260px;
    height: 205px;
  }
  .bookclub .info {
    width: 261px;
  }
  .bookclub .info p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 307px;
    height: 121px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .bookclub {
    width: 286px;
  }
  .bookclub .img {
    width: 114px;
    height: 95px;
  }
  .bookclub .info {
    width: 158px;
  }
  .bookclub .info p {
    font-size: 6px;
  }
}
.feb {
  margin-left: 228px;
}
.feb .hero {
  width: 1464px;
  margin-top: 172px;
  height: 463px;
  background-color: rgba(88, 124, 131, 0.545);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(88, 124, 131)), to(rgba(88, 124, 131, 0.3547794118))), url("../img/february-favorites-hero.jpg");
  background-image: linear-gradient(rgb(88, 124, 131) 0%, rgba(88, 124, 131, 0.3547794118) 100%), url("../img/february-favorites-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 105px;
}
.feb .hero .callout {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}
.feb .hero .callout h1 {
  font-size: 32px;
  margin-top: 137px;
}
.feb .hero .callout h2 {
  font-size: 26px;
}
.feb .hero .callout p {
  font-size: 16px;
}
.feb .books {
  width: 1582px;
  margin-bottom: 252px;
}
.feb .books .bookuno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}
.feb .books .bookuno .b1 {
  width: 250px;
  height: 380px;
  background-color: blue;
  background-image: url("../img/becoming.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feb .books .bookuno .b2 {
  width: 250px;
  height: 380px;
  background-color: blue;
  background-image: url("../img/finding me.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feb .books .bookuno .inf {
  width: 1297px;
}
.feb .books .bookuno .inf h1 {
  font-size: 26px;
}
.feb .books .bookuno .inf p {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 513px;
    height: 195px;
  }
  .hero .callout h1 {
    font-size: 12px;
  }
  .hero .callout h2 {
    font-size: 11px;
  }
  .hero .callout p {
    font-size: 8px;
  }
  .books {
    width: 602px;
  }
  .books .bookuno .b1 {
    width: 99px;
    height: 150px;
  }
  .books .bookuno .b2 {
    width: 99px;
    height: 150px;
  }
  .books .bookuno .inf {
    width: 473px;
  }
  .books .bookuno .inf h1 {
    font-size: 12px;
  }
  .books .bookuno .inf p {
    font-size: 11px;
  }
}
@media screen and (max-width: 390px) {
  .hero {
    width: 310px;
    height: 119px;
  }
  .hero .callout h1 {
    font-size: 6px;
  }
  .hero .callout h2 {
    font-size: 6px;
  }
  .hero .callout p {
    font-size: 6px;
  }
  .books {
    width: 288px;
  }
  .books .bookuno .b1 {
    width: 50px;
    height: 76px;
  }
  .books .bookuno .b2 {
    width: 50px;
    height: 76px;
  }
  .books .bookuno .inf {
    width: 221px;
  }
  .books .bookuno .inf h1 {
    font-size: 6px;
  }
  .books .bookuno .inf p {
    font-size: 6px;
  }
}
.cart {
  margin-left: 135px;
}
.cart .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 105px;
  margin-top: 152px;
}
.cart .item .bookc1 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/misery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}
.cart .item .bookc2 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/mlk-biography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart .item .infor h3 {
  font-size: 16px;
}
.cart .item .infor p {
  font-size: 16px;
}
.cart .item .infor .tex {
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart .item .infor .tex .decor {
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.cart .line {
  border-bottom: 1px solid #000;
  margin-left: -135px;
}
.cart .line2 {
  border-bottom: 1px solid #000;
  margin-bottom: 778px;
  margin-left: -135px;
}
.cart .ite2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
  margin-bottom: 134px;
}
.cart .ite2 .bookc2 {
  width: 205px;
  height: 317px;
  background-color: blue;
  background-image: url("../img/mlk-biography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
}
.cart .ite2 .infor h3 {
  font-size: 16px;
}
.cart .ite2 .infor p {
  font-size: 16px;
}
.cart .ite2 .infor .tex {
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart .ite2 .infor .tex .decor {
  width: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cart {
    margin-left: 66px;
    width: 100%;
  }
  .cart .ite2 p {
    font-size: 12px;
  }
  .cart .ite2 h3 {
    font-size: 12px;
  }
  .cart .ite2 .bookc2 {
    width: 69px;
    height: 106px;
  }
  .cart .item .bookc1 {
    width: 69px;
    height: 106px;
  }
  .cart .item p {
    font-size: 12px;
  }
  .cart .item h3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 390px) {
  .cart {
    width: 100%;
    margin-left: 21px;
  }
  .cart .ite2 .infor p {
    font-size: 6px;
  }
  .cart .ite2 .infor h3 {
    font-size: 6px;
  }
  .cart .ite2 .bookc2 {
    width: 48px;
    height: 74px;
  }
  .cart .item .bookc1 {
    width: 48px;
    height: 74px;
  }
  .cart .item .infor p {
    font-size: 6px;
  }
  .cart .item .infor h3 {
    font-size: 6px;
  }
}